*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.Navbar{
  background-color: #161616;
  width: 100%;
  height: 2%;  
  
  display: flex;
  justify-content: space-between;

  padding: 20px  ;
  position: sticky;
  z-index: 9999;

  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 10px;
    background-color: transparent;
  }
}
.Links{
  display: flex;
  align-items: center;
  gap: 25px;
  
}
.Navbar a{
  cursor: pointer;
  text-decoration: none;
  color: white;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }

  &.active:after {
    width: 100%;
  }

  &:hover:after {
    width: 100%;
  }

}