* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
}

.Navbar {
  background-color: #e5e5e5;
  width: 80%;
  height: 2%;

  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  z-index: 9999;
}

.logo {
  background-color: #fc4c02;
  font-family: "Pathway Gothic One", Arial, sans-serif !important;
  color: white;
  line-height: 3rem;
  letter-spacing: 1px;
  padding: 0px 10px;
  font-size: 30px;
}

.Links{
  display: flex;
  align-items: center;
  gap: 25px;
}
.username{
  color: #141414;
  position: relative;
  font-family: "Pathway Gothic One", Arial, sans-serif !important;
  letter-spacing: 1px;
  padding: 0px 30px;
  font-weight: bolder;
  font-size: 20px;
}
.Navbar a {
  cursor: pointer;
  text-decoration: none;
  color: #141414;
  position: relative;
  font-family: "Pathway Gothic One", Arial, sans-serif !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0px 30px;

  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: #fc4c02;
    transition: all 0.3s ease-in-out;
  }

  &.active:after {
    width: 100%;
  }

  &:hover:after {
    width: 100%;
  }
}
.Navbar button {
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.activitiesContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.4);
}

.activitiesBanner {
  font-size: 60px;
  margin-top: 2%;
}
.searchContainer {
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#searchInput {
  width: 20%;
  margin: 0px;
}
.searchContainer button {
  background-color: #fc4c02;
  height: 40px;
  display: flex;
  align-items: center;

  color: white;
}
button {
  cursor: pointer;
  border: 2px solid #fc4c02;
  background-color: #e5e5e5;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}

button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

button:hover {
  background-color: #fc4c02;
  color: white;
}
.routineButton{
  left: 0;
  width: 50%
}

.activities {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  font-family: "Pathway Gothic One", Arial, sans-serif !important;
  padding: 0% 5% 0% 5%;
}
.activity button{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10px;
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
}

.activity:hover button {
  display: flex;
}

.activity img {
  width: 100%;
}

.activity {
  width: 20%;
  height: 300px;
  position: relative;
  background: mediumturquoise;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.4);
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
}

.activity::before,
.activity::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #e5e5e5;
  transition: all 0.5s;
  button{
    display: ;
  }
}

.activity::before {
  top: 0;
  right: 0;
  border-radius: 0 5px 0 100%;
}

.activity::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.activity:hover::before,
.activity:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.activity:hover:after {
  content: var(--description);

  font-size: 16px;
  padding: 5px;
}
.activityTitle {
  background-color: #e5e5e579;
  padding: 5px;
  width: 100%;
}

.pagination {
  margin: 3%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.pagination button {
  font-size: 16px;
  padding: 10px;
  background-color: #e5e5e5;
  border: none;
  cursor: pointer;
}
.pagination button.active {
  background-color: #fc4c02;
  color: white;
}
.read-the-docs {
  color: #888;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color:  #e5e5e5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
